<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&display=swap">
    <link rel="icon" href="#" type="image/x-icon">
    <title>QR code generator</title>
</head>

<body>
    <div class="title">
        <h1>QR generator 🤖</h1>
        <h2>Insert a link below to generate your QR Code 👇🏼</h2>
    </div>
    <form action="/" method="POST">
        <input type="text" name="qrInput">
        <button type="submit">Generate QR Code</button>
    </form>
    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}
    {% if data %}
    <div class="generated">
        <img src="{{ data }}" alt="QR image">
        <p>Here is your QR Code 🚀</p>
        <a href="{{ data }}" download="qrcode.png">Download QR Code</a>
    </div>
    {% endif %}
</body>

</html>